/* Contenedor principal para centrar el formulario */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

/* Caja de registro con fondo blanco, bordes redondeados y sombra */
.register-box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo */
  text-align: center;
}

/* Estilos para el logo y título */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo-img {
  width: 80px; /* Tamaño del logo */
  height: 80px;
}

.logo-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #1976d2; /* Color azul típico de Material Design */
}

/* Texto de bienvenida */
.welcome-text h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.welcome-text h3 {
  font-size: 18px;
  color: gray;
  margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.full-width {
  width: 100%;
  margin-bottom: 20px;
}



/* Campo de términos y condiciones */
mat-checkbox {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
}

/* Botón de registro */
button[mat-raised-button] {
  width: 100%;
  margin-bottom: 15px;
}

.mat-form-field {
  position: relative;
  display: block;
}
/* Alinear ícono de "clave" y el de visibilidad correctamente */
.mat-form-field-suffix {
  display: flex;
  align-items: center;
}

.mat-form-field-suffix button {
  margin-right: 0; /* Elimina el margen innecesario que puede causar desalineación */
}

/* Estilo para el mat-icon dentro del campo de contraseña */
mat-form-field .mat-form-field-suffix button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);}

/* Sección de registro con redes sociales */
.or-register-with {
  margin-top: 20px;
}

.or-register-with p {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Botones de redes sociales */
.social-icons button {
  background-color: #f5f5f5;
  border-radius: 50%;
}

.social-icons button:hover {
  background-color: #e0e0e0;
}
