<app-toolbar></app-toolbar>
<section class="how-it-works" id="funcionalidad">
  <h2>¿Por qué GoUni?<br> <span>Carpooling Service</span></h2>

  <div class="steps-container">
    <mat-card class="step">
      <img src="comunidad-ambiental.png" alt="">
      <h3>Comunidad <br> estudiantil</h3>
      <p>Conecta con otros estudiantes de tu universidad y haz
        nuevos amigos</p>
    </mat-card>

    <mat-card class="step">
      <img src="seguridad.png">
      <h3>Seguridad <br>Garantizada</h3>
      <p>Viaja con confianza gracias a nuestro sistema de verificación de usuarios.</p>
    </mat-card>

    <mat-card class="step">
      <img src="eco-friendly.png" alt="">
      <h3>Eco <br>friendly</h3>
      <p>Reduce tu huella de carbono compartiendo viajes y cuidando el medio ambiente. </p>
    </mat-card>
    <mat-card class="step">
      <img src="icon3.png" alt="">
      <h3>Ahorro <br>económico</h3>
      <p>Divide los costos de transporte y ahorra dinero en tus viajes diarios.</p>
    </mat-card>
  </div>
</section>
