<mat-card class="driver-info-card">
  <div class="info-item">
    <mat-icon>location_on</mat-icon>
    <p>Av. de la Marina 2810, San Miguel 15087</p>
  </div>
  <div class="info-item">
    <mat-icon>person</mat-icon>
    <p>Conductor: <strong>Carla Muñoz</strong></p>
  </div>
  <div class="info-item">
    <mat-icon>event</mat-icon>
    <p>Fecha y Hora: 03:30 PM | 04/09/2024</p>
  </div>
  <div class="info-item">
    <mat-icon>directions_car</mat-icon>
    <p>Placa: A1B-234</p>
  </div>
</mat-card>

