<app-toolbar></app-toolbar>

<div class="ticket-booking-container">
  <div class="map-section">
    <div class="search-bar">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Buscar ubicación">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="map-image">
      <!-- Aquí podrías integrar Google Maps API o cualquier API de mapas -->
      <div class="map-marker">
        <mat-icon>location_on</mat-icon>
      </div>
    </div>

    <!-- Botón para ver más del mapa -->
    <div class="view-more-button">
      <button mat-raised-button color="primary" (click)="expandMap()">Ampliar el mapa</button>
      <button mat-raised-button color="primary" (click)="navigateToMaps()">Ver más del mapa</button>

    </div>

  </div>

  <div class="info-section">
    <div class="distance">
      <span>Distancia</span>
      <div class="distance-value">9 Km</div>
    </div>

    <div class="driver-info">
      <span>Conductor disponible</span>
      <div class="driver-card">
        <div class="car-info">
          <mat-icon>directions_car</mat-icon>
          <span class="car-model">BMW-R2</span>
          <span class="car-plate">A1B-234</span>
          <span class="driver-name">Carla Muñoz</span>
          <div class="driver-rating">
            <mat-icon>star</mat-icon>
            <span>4.5</span>
          </div>
        </div>
      </div>
    </div>

    <div class="booking-options">
      <span>¿Deseas reservar?</span>
      <div class="options">
        <button mat-raised-button color="primary" (click)="navigateToBooking()">SI</button>
        <button mat-raised-button color="warn" (click)="navigateToHome()">NO</button>
      </div>
    </div>

    <div class="request-button">
      <button mat-raised-button color="accent" (click)="navigateToBooking()">Solicitar viaje</button>
    </div>
  </div>
</div>
