<app-toolbar></app-toolbar>

<div class="container">
  <div class="column info-box">
    <h1 class="title">GoUni</h1>
    <p>
      Ofrecemos la oportunidad de viajar de manera eficiente a un <br>precio accesible<br>
    </p>
    <p>
      Dile Adiós a las largas esperas y a los viajes estresantes
    </p>
    <img class="imglogo" src="logoGoUni.png" alt="Logo GoUni">
  </div>

  <div class="column">
    <img Src="taxi.png" class="car-image" alt="Car Image">
    <div class="universidades">
      <img src="PUCP.png" alt="PUCP" class="floating-image">
      <img src="SANMARCOS.jpg" alt="San Marcos" class="floating-image">
      <img src="UCIENTIFICA.png" alt="Científica" class="floating-image">
      <img src="UCV.png" alt="UCV" class="floating-image">
      <img src="ULIMA.jpg" alt="Ulima" class="floating-image">
      <img src="UNI.png" alt="UNI" class="floating-image">
      <img src="UP.jpg" alt="UP" class="floating-image">
      <img src="UPC.png" alt="UPC" class="floating-image">
      <img src="UPN.png" alt="UPN" class="floating-image">
      <img src="URICARDOPALMA.jpg" alt="URP" class="floating-image">
      <img src="USIL.jpg" alt="USIL" class="floating-image">
    </div>
    <button class="custom-button bold" (click)="GoToReservations()" >Ver tus reservas</button>
  </div>

  <div class="column">
    <h1>Destinos más visitados</h1>
    <div class="most-visited">
      <img src="upc1.jpg" class="destination-image" alt="San Miguel UPC">
      <h4>San Miguel - UPC</h4>
      <label>Miraflores</label>
      <label>4.5 <span class="estrella">★</span></label>
    </div>
    <div class="most-visited">
      <img src="upc2.jpg" class="destination-image" alt="San Miguel UPC">
      <h4>San Miguel - UPC</h4>
      <label>Miraflores</label>
      <label>4.5 <span class="estrella">★</span></label>
    </div>
  </div>
</div>

